body, html {
    margin: 0;
    padding: 0;
    height: 155%;
    width: 100%;
    /* Make sure the body and html fill the full screen */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.browser {
    height: 100%;
    width: 100%;
    /* Change this from max-width to width to fill the full screen */
    margin: 0;
    /* Remove auto margin to extend to full screen */
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    background-color: #70acf4;
    padding-left: 0px;
}

.calculator-icon {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    /* Add any additional styling you want for the button */
}
.shuttle-icon {
    height: 30px; /* Adjust based on your icon size */
    width: 30px; /* Adjust based on your icon size */
    margin-right: 850px;
}

.tab {
    background-color: #ffffff;
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 3px 3px 0 0;
    position: relative;
    display: flex;
    align-items: center;
}

.tab.active {
    background-color: #ffffff;
}

.tab span {
    margin-right: 10px;

}

.book{
    height: 40px;
}

.multimedia{
    height: 35px;
}

.close-tab {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-tabs{
    margin-left: 92.4%;
    background-color: darkred;
    color: #f2f2f2;
}

.calculator-bar{
    height: 18px;
    padding-left: 20px;
}
.refresh-bar{
    height: 19px;
    padding-right: 10px;
}

.cancel{
    margin-right: 5px;
}

.magnif-bar{
    height: 15px;
}

.left-bar{
    padding-left: 10px;
    height: 18px;
}
.right-bar{
    padding-left: -10px;
    height: 18px;
}
.newp-bar{
    height: 17px;
    padding-right: 20px;
}
.info-bar{
    height: 20px;
    margin-left: -9px;
}

.instance{
    margin-left: -10px;
}


.instance2{
    margin-left: -5px;
}

.browser-header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    z-index: 1000;
    /* Ensure the header is above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.content {
    margin-top: 60px;
    /* Adjust this value so your content starts below the fixed header */
    margin-left: 80px;
    /* Adjust based on the width of your sidebar */
    padding: 20px;
}


.button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
}

.url-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.address-bar {
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-right: 2px;
    /* Adjust space inside the address bar */
}

.address-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;

}



.help-button {
    background-color: #2769cb;
    border: none;
    padding: 5px 10px;
    margin-left: -100px;
    /* Adjust based on your design needs */
    border-radius: 17px;
    /* Match with address-bar for integrated look */
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    /* Optional: adds some depth */
    font-size: 14px;
    color: #f2f2f2;
}


.quiz-container {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 25%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container2 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 45%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container3 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 66%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container4 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 88%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container5 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 107%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container6 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 126%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container7 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 145%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container8 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 165%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container9 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 185%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}

.quiz-container10 {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    /* Centers the container horizontally */
    position: absolute;
    /* Positioning relative to the viewport */
    top: 210%;
    /* Move down by half of the viewport's height */
    left: 50%;
    /* Move right by half of the viewport's width */
    transform: translate(-50%, -50%);
    /* Offset the container by half of its own width and height */
    border: 2px solid #f6f6f6;
    /* Add a blue border */
    box-shadow: none;
    /* Remove the shadow */
}



.question-box {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 20px;
    width: 97.7%;
    border: 1px solid #f1f1f1;
    /* Adding a subtle border */
    position: relative;
    /* Needed for any offset positioning */
    top: 5px;
    /* Creates a subtle "offset" effect by pushing the box slightly down */
    left: 5px;
    /* Also moves the box slightly to the right */
}

.question-number {
    background-color: #303c44;
    color: white;
    padding: 10px 20px;
    /* Adjust to create a more rectangular shape */
    font-size: 18px;
    margin-right: 20px;
}

.question-content p {
    margin: 7px;
    margin-bottom: 10px;
}

.question-content input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(107, 107, 107, 0.55);
    border-radius: 4px;
}

.submit-button {
    background-color: #0874b4;
    color: white;
    padding: 10px 20px;
    /* Adjust padding to your liking */
    border-radius: 5px 5px;
    cursor: pointer;
    display: inline-block;
    /* Change from block to inline-block */
    margin-top: 2px;
    margin-left: 1300pt;
    float: left;
    position: fixed;
    /* Align the button to the right */
}

.submit-button:hover {
    background-color: #0874b4;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: white;
    /* Ensure the background isn't transparent */
    z-index: 1000;
    /* Ensures it stays above other content */
}
.floating-submit-box{
    width: 100%;
    height: 1.5%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    z-index: 1000;
    /* Ensure the header is above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
}

.sidebar {
    width: 50px; /* Adjust width as needed */
    background-color: #ffffff; /* Match the background color to your theme */
    padding-top: 100pt; /* Increase top padding to move items higher */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns items to the top */
    align-items: center; /* Centers the content horizontally */
    height: 100vh; /* Full height */
    position: fixed; /* Make sidebar fixed during scroll */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left side of the viewport */
    border-right: 2px solid #ececec; /* Add a solid line to the right of the sidebar */
}

.icon img, .number {
    margin: 5px 0; /* Adjust spacing as needed */
    width: 30px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.number {
    background-color: #ffffff; /* Light grey background */
    width: 30px; /* Match width with icons */
    height: 30px; /* Square shape */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; /* Number color */
    font-size: 16px; /* Adjust font size as needed */
    margin-bottom: 15px; /* Add space below each number */
    position: relative; /* Needed to position the pseudo-element */
}

.number:not(:last-child)::after {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    bottom: -7.5px; /* Adjust so the line is centered in the space below the number */
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%); /* Center the line based on its width */
    width: 50px; /* Width of the horizontal line */
    height: 1px; /* Height of the horizontal line */
    background-color: #d0d0d0; /* Color of the horizontal line */
}

.calculator {
    position: fixed; /* Or 'absolute' depending on your needs */
    top: 50%; /* Initial position */
    left: 50%; /* Initial position */
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    padding: 10px;
    cursor: move; /* Indicates the element can be moved */
}

.calculator-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.calculator-icon {
    width: 30px; /* or your desired size */
    height: auto;
}


.calculator-display input {
    width: 100%;
    padding: 5px;
    text-align: right;
}

.calculator-buttons button {
    width: 25%;
    padding: 10px;
    margin: 2px;
    font-size: 16px;
}

/* Add more styles according to your preferences */
